<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MySQLMVCApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Registration</display-name>
    <servlet-name>Registration</servlet-name>
    <servlet-class>mvcapp.servlet.Registration</servlet-class>
  </servlet>
   <servlet> 
     <servlet-name>EditServlet</servlet-name> 
     <servlet-class>com.jsos.edit.EditServlet</servlet-class> 
    </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>mvcapp.servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Homepage</display-name>
    <servlet-name>Homepage</servlet-name>
    <servlet-class>mvcapp.servlet.Homepage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Homepage</servlet-name>
    <url-pattern>/Homepage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerReview</display-name>
    <servlet-name>CustomerReview</servlet-name>
    <servlet-class>mvcapp.servlet.CustomerReview</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerReview</servlet-name>
    <url-pattern>/CustomerReview</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>homePageServlet</display-name>
    <servlet-name>homePageServlet</servlet-name>
    <servlet-class>controller.homePageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>homePageServlet</servlet-name>
    <url-pattern>/homePageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addNotesServlet</display-name>
    <servlet-name>addNotesServlet</servlet-name>
    <servlet-class>controller.addNotesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addNotesServlet</servlet-name>
    <url-pattern>/addNotesServlet</url-pattern>
  </servlet-mapping>
   <servlet-mapping> 
     <servlet-name>EditServlet</servlet-name> 
     <url-pattern>/servlet/edit</url-pattern> 
    </servlet-mapping>
</web-app>